<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

    <header class="jumbotron my-4">

      <h1><%= wiki.title %></h1>


      <% if(currentUser) { %>

      <% if(currentUser.isAdmin() || currentUser.isPremium() || currentUser.isStandard()) { %>
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>

      <% if(currentUser.isAdmin() || currentUser.isPremium()) { %>


      <a href="/wikis/new" class="btn btn-success">New Wiki</a>


    <% if(wiki.private) { %>
      <a href="/wikis/<%= wiki.id %>/makePublic" class="btn btn-success">Make Wiki Public</a>
      <a href="/wikis/<%= wiki.id %>/collaborators/new" class="btn btn-success">New Collaberator</a>

      <!-- <a href="/wikis/<%= wiki.id %>/collaborators/" class="btn btn-success">Current Collaborators</a> -->

    <% } else { %>
      <a href="/wikis/<%= wiki.id %>/makePrivate" class="btn btn-success">Make Wiki Private</a>


      <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>


      <% } %>
      <% } %>
      <% } %>
      <% } %>
      <p><%- htmlDescription %></p>
    </header>
    </main>

  </body>
</html>
